<%= form_with(model: guardian, local: true) do |form| %>
  <% if guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% guardian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :guardian_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :guardian_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :guardian_password %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :guardian_tel %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>