<p id="notice"><%= notice %></p>

<h1>Guardians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Tel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= guardian.name %></td>
        <td><%= guardian.email %></td>
        <td><%= guardian.password %></td>
        <td><%= guardian.tel %></td>
        <td><%= link_to 'Show', guardian %></td>
        <td><%= link_to 'Edit', edit_guardian_path(guardian) %></td>
        <td><%= link_to 'Destroy', guardian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guardian', new_guardian_path %>
