<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @guardian.password %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @guardian.tel %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
