<%= form_with url: new_activity_path, method: :get, local: true do |form| %>
   <%= submit_tag "記録する" %>
   <%= submit_tag "履歴を見る", name: "history"%>
   <table>
     <thead>
       <tr>
         <th>被後見人一覧</th>
       </tr>
     </thead>

     <tbody>
       <div class="field">
         <% @wards.each do |ward| %>
           <tr>
             <td>
             <%= form.radio_button :ward_id, ward.id, checked: "checked" %>
             <%= form.label_tag :ward, ward.name %>
           </td>
         </tr>
       <% end %>
       </div>
     </tbody>
   </table>
   <%= link_to '設定', settings_path%>
<% end %>