<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ward.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @ward.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @ward.tel %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @ward.sex %>
</p>

<%= link_to 'Edit', edit_ward_path(@ward) %> |
<%= link_to 'Back', wards_path %>
