<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <ul>
    <% @contents.each do |content| %>
      <li>
        <%= radio_button_tag(:content_id, content.id) %>
        <%= label_tag(:activity_content, content.body) %>
      </li>
    <% end %>
  </ul>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_field :memo, id: :activity_memo %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :activity_comment %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= image_tag @activity.photo.thumb.url if @activity.photo? %>
    <%= form.file_field :photo, id: :activity_photo %>
    <%= form.hidden_field :photo_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
