<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @activity.content %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @activity.memo %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @activity.comment %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @activity.photo %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
