<h1>報告書</h1>

<%= form_with url: reports_path, method: :get, local: true do |form| %>
  <%= submit_tag "報告書画面へ", name: "report" %>
  <p>出力対象を選択してください</p>

  <table>
   <thead>
     <tr>
       <th>被後見人一覧</th>
     </tr>
   </thead>

   <tbody>
     <div class="field">
       <% @wards.each do |ward| %>
         <tr>
           <td>
           <%= form.radio_button :ward_id, ward.id, checked: "checked" %>
           <%= form.label_tag :ward, ward.name %>
         </td>
       </tr>
     <% end %>
     </div>
   </tbody>
  </table>

<% end %>

<%= link_to '戻る', :back %>
<%= link_to 'TOP', :root %>